.q{
    background-color: rgb(195, 168, 71);
    font-size: 100px;
    color: brown;
    border: rgb(73, 18, 168);
    border-style: solid;

}
.w{
    margin-top: 10px;
}
.E{
    margin-top: 10px;
}
.b{
    font-size: larger;
}