body{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

/* menu */
.menu{
    width: 80px;
    margin-top: 12px;
    margin-left: 5px;
}
.nutHome{
    margin-top: 35px;
    margin-left: 10px;
    
}
.MessageDetail{
    margin-top: 45px;
    margin-left: 10px;
}
.calendar{
    margin-top: 45px;
    margin-left: 10px;
}
.call{
    margin-top: 45px;
    margin-left: 10px;
}
.user{
    margin-top: 45px;
    margin-left: 10px;
}
.bottomMenu{
    margin-top:  190px;
}

/* body */
.meeting{
    display: grid;
    width: 1000px;
    padding-right: 400px;
    justify-items: center;
    align-items: center;
    grid-row-gap: 30px;
}
.row1St{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 650px;
}

.button12{
    width: 90px;
  height: 40px;
  border-radius: 20px;
  border: solid red;
  background-color: white;
  font-size: 25px;
}
.button12::before{
    content: "•";
    color: red;
}
.row2Nd{
    display: flex;
    justify-content: left;
}
.row2Nd >div{
    margin-left: -10px;
    margin: 10px;
}
.rectangle img{
    width: 15px;
    height: 15px;
}
.rectangle {
    display: flex;
    width: 86px;
    height: 25px;
    border-radius: 12.5px 12.5px;
    background-color: #e04f72;
    color: aliceblue;
}
.rectangle > div{
    margin: 3px;
}
.rectangle > img{
    margin: 6px;
}



.mainVideo{
    width: auto;
}
.main{
    position: relative;
}
.q{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 130px;
    left: 200px;
}
.q1{
    width: 160px;
    height: 30px;
    background-color: #757679;
    color: white;
    position: relative;
    text-align: right;
}
.q1 .benVideo{
    display: inline-block;
    margin-top: 4px;
}
.dot {
    width: 10px;
    height: 10px;
    margin-left: -13px;
    margin-top: 8px;
    border-radius: 5px;
    background-color:#33d565;
    position: absolute;
}
.q2{
    margin-top: 15px;
    margin-left: 350px;
}

.otherVideo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 25px;
    
}
.iconVideo{
    
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 20px;
    width: 1px;
    margin-right: 510px;
}
.end-meeting{
    background-color: #ee272a;
    color: white;
    border: none;
    padding: 6px 35px;
    
    
}

/* right */
.rightBody{
    flex-direction: column;
    position: relative;
    right:  400px;
    width: 700px;
    
}
.rightBody div div div{
    display: flex;
}


.BenjaminChat div{
    display: flex;
    width: 20px;
    height: 20px;
}
.blackIcon{
    width: 20px;
    height: 20px;
}
.micOn ,.micOff{
    height: fit-content;
    
}

.cam_small{
    height: fit-content;
}