body{
    background-color: tan;
}

h1{
    color: aqua;
    text-decoration: underline;
    text-align: center;
    text-indent: 0%;
    text-transform: capitalize;
}
p{
    font-size: 100px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 200px;
   
}

h2{
    color: blue;
    text-decoration: wavy;
    text-align: center;
    text-indent: 0cap;
    text-transform: uppercase;
}

h3{
    color: red;
    text-decoration: wavy;
    text-align: center;
    text-indent: 0cap;
    text-transform: uppercase;
}

h4{
    color: cyan;
    text-decoration: wavy;
    text-align: center;
    text-indent: 0cap;
    text-transform: uppercase;
}

h5{
    color: azure;
    text-decoration: wavy;
    text-align: center;
    text-indent: 0cap;
    text-transform: uppercase;
}